*       text=auto

# Type-specific diffs might improve readability of diffs
*.md    text diff=markdown
*.sh    text diff=bash
*.py    text diff=python

# Graphics
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.tif   binary
*.tiff  binary
*.ico   binary
