name: pytest

on:
  pull_request:
  push:
    branches: [ main ]

defaults:
  run:
    shell: bash -l {0}

jobs:
   pytest:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          # Install a specific version of uv.
          version: "0.9.8"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Create virtual environment
        run: |
          uv venv

      - name: Install dependencies
        run: |
          uv sync --extra dev

      - name: Run pytest
        run: |
          source .venv/bin/activate
          pytest
